# Data Science Tools and Ecosystem

In this notebook, you can read about Data Science related Tools.

Some of the popular languages that Data Scientists use are:
* SQL
* Python
* c++

Some of the commonly used libraries used by Data Scientists include:
* Matplotlib
* NumPy
* Pandas

| Data Science Tools | 
| -------------------| 
| Jupyter Notebook | 
| Apache Hadoop | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python:
* a=7
* b=6
* c=a+b

In [5]:
#This a simple arithmetic expression to multiply then add integers

In [6]:
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60

In [14]:
200/60

3.3333333333333335

Some of the key takeaways from the course:

__Objectives__
* How to start use R
* How to start use Jupyter Notebook
* I started to use GitHub
* Learned about the ETL
* API

## Author Márk Iván Author